#notebook-page-top-bar {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    min-height: 80px;
}

#notebook-header {
    color: #4464AD;
    font-weight: 500;
}

.note-grid-top {
    width: 80%;
    font-size: 15px;
    color: #FF9D00;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-grid {
    width: 100%;
}
thead tr {
    color: #4464AD;
    font-size: 12px;
    font-weight: lighter;
    border-bottom: 1px solid rgba(23, 10, 28, 0.1);
    height: 20px;
}

.odd-row {
    background-color: rgba(156, 149, 220, 0.3);
}

.odd-row:not(th), .even-row {
    height: 25px;
}

.note-title {
    width: 40%;
}

.note-author {
    width: 20%;
}

.note-created {
    width: 15%;
}

.note-updated {
    width: 15%;
}

.note-actions {
    width: 10%;
}

th, td {
    padding: 8px;
    text-align: left;
    width: 100%
}

.dropdown-box {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    display: flex;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgba(23, 10, 28, 0.4);
    height: auto;
    width: auto;
    padding: 0;
}

.dropdown-box button {
    background-color: white;
    box-shadow: 0px 0px 0px white;
    border-radius: 0px;
    padding: 3px 20px;
    width: 100%;
    color: #303036;
    transition: all 0.3s ease-in-out;
}

.dropdown-box button.button-in-dropdown:hover {
    background-color: rgba(255, 157, 0, 0.3);
}
