/* #note-page-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.5%;
    padding-bottom: 3.5%;
    height: 50vh;
}

#notes-page-top-bar {
    display: flex;
    justify-content: space-between;
    color: #4464AD;
    font-weight: 500;
}

.title-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-page-grid-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #FF9D00;
}

#notes-collection-container {
    width: 35%;
    height: 50vh;
    display: flex;
    flex-flow: column;
}

#notepad-container {
    width: 55%;
    border: 1px solid rgba(23, 10, 28, 0.2);
    padding: 15px 2.5%;
    height: 100%;
}

.note-collection {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 1%;
    outline: 1px solid rgba(23, 10, 28, 0.05);
}

.note-instance {
    outline: 1px solid rgba(23, 10, 28, 0.2);
    width: 95%;
    height: 63px;
    margin: 0;
    cursor: pointer;
    padding: 2.5%;
}

#selected-note {
    outline: 1px solid rgba(23, 10, 28, 0.8);
}

.note-instance p {
    margin: 0;
}

.excerpt-holder {
    color: rgba(23, 10, 28, 0.5);
    font-size: 14px;
}

.notebook-holder, .update-holder {
    color: rgba(23, 10, 28, 0.5);
    text-align: end;
    font-size: 12px;
}

.note-page-title-input {
    border-style: none;
    resize: none;
    outline: none;
    width: 99%;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-bottom: 1px solid rgba(23, 10, 28, 0.2);
}

.note-page-content-input {
    border-style: none;
    resize: none;
    width: 100%;
    height: 450px;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
} */
