#note-page-container {
    width: 80%;
    display: grid;
    grid-template-areas:
    "coll pad";
}

#notes-collection-container {
    width: 40%;
    grid-area: "coll";
}

#notepad-container {
    width: 60%;
    grid-area: "pad";
}

.note-instance {
    outline: 1px solid rgba(23, 10, 28, 0.2);
    width: 100%;
    margin: 0;
}

.note-instance p {
    margin: 0;
}

.notebook-holder {
    color: rgba(23, 10, 28, 0.5);
}

.update-holder {
    color: rgba(23, 10, 28, 0.5);
}

textarea {
    border-style: none;
    resize: none;
    width: 100%;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}
