#logged-in-home-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 2.5%;
}

#stats-holder {
    width: 35%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 3%;
    margin-right: 5%;
    padding-left: 3%;
    border: 2px groove rgba(156, 149, 220, 0.4);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    box-shadow: 2px 3px 4px rgba(156, 149, 220, 0.3);
    font-size: 18px;
}

#stats-holder > p {
    margin: 0;
    overflow-wrap: break-word;
}

#welcome-user {
    font-size: 20px;
}

#scratchpad {
    border: 3px solid rgba(156, 149, 220, 0.3);
}
