/* TODO Add site wide styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #303036;
    background-color: #141B41;
}

#big-body {
    background-color: white;
    margin: 8vh 8vw;
    padding: 5vh;
    border-radius: 5px;
    box-shadow: 0px 3px 15px rgba(23, 10, 28, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
}

#nav-div {
    width: 80%;
    margin: 4% 10%;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
}

#logo-link-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a#logo-link {
    display: absolute;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    justify-content: center;
    align-items: center;
}

#ns-logo {
    width: 100%;
    transition: all 0.3s ease-in-out;
}

#ns-logo:hover {
    width: 100%;
    transform: scale(102%);
}

button {
    border-style: none;
    border-radius: 5px;
    background-color: #FF9D00;
    box-shadow: 0px 1px 2px rgba(23, 10, 28, 0.2);
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.2s ease-in-out;
}

button:hover:not(#disabled, .button-in-dropdown) {
    background-color: rgb(246, 116, 17);
    cursor: pointer;
}

button.menu-active {
    background-color: rgb(238, 86, 34);
}

button#disabled {
    background-color: rgba(48, 48, 54, 0.4);
}

a {
    text-decoration: none;
    color: #303036;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #EE5622;
    text-decoration: wavy;
}

table {
    margin: 7px 10% 5% 10%;
    border-collapse: collapse;
    width: 80%;
    box-shadow: 2px 2px 2px rgba(48, 48, 54, 0.1);
}

#notebook-page-top-bar {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    min-height: 80px;
}

#notebook-header {
    color: #4464AD;
    font-weight: 500;
}

.note-grid-top {
    width: 80%;
    font-size: 15px;
    color: #FF9D00;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-grid {
    width: 100%;
}

thead tr {
    color: #4464AD;
    font-size: 12px;
    font-weight: lighter;
    border-bottom: 1px solid rgba(23, 10, 28, 0.1);
    height: 20px;
}

.odd-row {
    background-color: rgba(156, 149, 220, 0.3);
}

.odd-row:not(th), .even-row {
    height: 25px;
}

.note-title {
    width: 45%;
}

.note-author {
    width: 20%;
}

.note-created {
    width: 15%;
}

.note-updated {
    width: 15%;
}

.note-actions {
    width: 5%;
}

.note-actions > button {
    margin-left: 20%;
}

th, td {
    padding: 8px;
    text-align: left;
    width: 100%
}

.dropdown-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    display: flex;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgba(23, 10, 28, 0.4);
    height: auto;
    width: auto;
    padding: 0;
}

.dropdown-box button {
    background-color: white;
    box-shadow: 0px 0px 0px white;
    border-radius: 0px;
    padding: 3px 20px;
    width: 100%;
    color: #303036;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.dropdown-box button.button-in-dropdown:hover {
    background-color: rgba(255, 157, 0, 0.3);
}

.last-info {
    border-bottom: 1px solid rgba(48, 48, 54, 0.2);
}

.profile-dropdown li:not(.button-holder) {
    padding: 0px 10px;
}

.profile-dropdown .last-button {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

input {
    font-size: 16px;
}
