/* TODO Add site wide styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #303036;
    background-color: #497DC1;
}

ul {
    list-style: none;
    padding: 0;
}

#big-body {
    background-color: white;
    margin: 8vh 8vw;
    padding: 5vh;
    border-radius: 5px;
    box-shadow: 0px 3px 15px rgba(23, 10, 28, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nav-bar {
    display: flex;

}

button {
    border-style: none;
    border-radius: 5px;
    background-color: #FF9D00;
    box-shadow: 0px 1px 2px rgba(23, 10, 28, 0.2);
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.2s ease-in-out;
}

button:hover:not(#disabled) {
    background-color: rgb(246, 116, 17);
    cursor: pointer;
}

button.menu-active {
    background-color: rgb(238, 86, 34);
}

button#disabled {
    background-color: rgba(48, 48, 54, 0.4);
}

a {
    text-decoration: none;
    color: #303036;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #EE5622;
    text-decoration: wavy;
}

table {
    margin: 7px 10% 5% 10%;
    border-collapse: collapse;
    width: 80%;
}
