#signup-and-login-holder {
    display: flex;
    width: 70%
}

#signup-and-login-holder input{
    width: 100%;
    border-style: none;
    resize: none;
    outline: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-bottom: 1px solid rgba(23, 10, 28, 0.2);
}

#signup-holder {
    width: 50%;
    border-right: 1px solid rgba(23, 10, 28, 0.2);

}

#signup-holder > * {
    padding-right: 20%
}

#login-holder {
    width: 50%;
}

#login-holder > * {
    padding-left: 20%;
}

.val-errors {
    color: #EE5622;
}

#login-button-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
